@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
html {
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('./assets/summer-bg.jpg') no-repeat;
    backdrop-filter: blur(5px);
    height: 100%;
}

#app {
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: violet;
}

.weather-block {
    
    z-index: 3000;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
    cursor: pointer;

    .weather-block-item {
        width: 150px;
        height: 150px;
        border-radius: 20px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 42px;
        }
    }
}
input {
    margin-top: 30px;
}